---
import Paragraph from "./Paragraph.astro";


---

<div class="modal-content-wrapper">
  <h2>Full API Testing Automation of Trello API</h2>
  <Paragraph content={'I built a full API test automation workflow for the ##Trello API##. My main focus was to make sure all requests, responses, and error cases were covered using a clean and organized ##Postman## collection with tests.'} />
  <img src="/projects/postman.png" alt="Postman Dashboard Screenshot" />
  <Paragraph content={'I started testing everything locally with a ##Jenkins## container from ##Docker## to get a local CI setup going.'} />
  <img src="/projects/docker.png" alt="Docker and Jenkins Setup Screenshot" />
  <img src="/projects/jenkins.png" alt="Jenkins Pipeline Screenshot" />
  <Paragraph content={'Later on, I switched to ##GitHub Actions## because it was easier to integrate and let me publish and host the reports publicly.'} />
  <img src="/projects/github-actions.png" alt="GitHub Actions Workflow Screenshot" />
  <Paragraph content={'With ##GitHub Actions##, I also set up automatic deployments and used the ##htmlextra## reporter for ##Newman## to generate rich HTML reports. These reports made it super easy to review test results visually. The whole pipeline is all about being reliable, easy to maintain, and giving clear feedback with every run.'} />
  <img src="/projects/htmlextra-repost.png" alt="HTML Report Screenshot" />
  <Paragraph content={'You can visit all my work clicking on the below buttons. You can enter on the mentioned ##Github## repository. Or see the last generated ##report## published.'} />
  <div class="modal-buttons">
    <a
      href="https://github.com/MonicaPerdomoSantana/trello-api-automation"
      target="_blank"
      role="button"
      class="bg-primary text-white">
      GitHub repository
    </a>
    <a
      href="https://www.postman.com/mapaxito/monica-perdomo-public-ws/request/asni4p8/create-board?tab=scripts"
      target="_blank"
      role="button"
      class="bg-secondary text-white">
      Postman collection
    </a>
    <a
      href="https://monicaperdomosantana.github.io/trello-api-automation/report.html"
      target="_blank"
      role="button"
      class="bg-green-600 text-white">
      Yesterday's report
    </a>
  </div>
</div>
