---
import Header from "../components/layouts/Header.astro";
import Footer from "../components/layouts/Footer.astro";

import "../styles/index.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full scroll-smooth" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Portafolio personal de M贸nica Perdomo Santana, QA Tester." />
    <meta name="author" content="M贸nica Perdomo" />
    <meta
      name="keywords"
      content="portafolio, testing, jira, qa, test management, jira, xray, scrum, playwright, postman, jenkins, github, gitlab, gitlab ci, ci/cd, devops, javascript"
    />
    <meta name="generator" content={Astro.generator} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://monica-perdomo-portfolio.netlify.app" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content="Portafolio de M贸nica Perdomo, QA Tester." />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://monica-perdomo-portfolio.netlify.app" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content="Portafolio de M贸nica Perdomo, QA Tester." />

    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <title>{title}</title>

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", (event) => {
        if (!localStorage.getItem("theme")) {
          document.documentElement.dataset.theme = event.matches ? "dark" : "light";
        }
      });
    </script>
  </head>
  <body
    class="flex h-full flex-col overflow-x-hidden text-base text-default selection:bg-secondary"
    style="
      background-image: linear-gradient(to bottom, var(--color-body-background-start), var(--color-body-background-end));
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;">
    <Header />
    <section class="flex-grow">
      <slot />
    </section>
    <Footer />
  </body>
</html>
